h1{
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.form_container input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #5cc6f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #1785b1;
}
.error {
    color: red;
    font-size: 12px;
    display: none;
}
