body {
    font-family: Arial, sans-serif;
    height: 100vh;
    color: #000000;
    background-color: #d6dde9


}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #5cc6f0;
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2 {
    color: #5cc6f0;
    font-size: 2em;
    margin-bottom: 20px;
}
.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.divbtn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
